* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;

    margin: 0px;
    padding: 0px;

    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;

    background: url(../img/mountain-top.jpg);
    background-color: #1E1213;
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Buttons start to overlap with me. */
@media only screen and (max-width: 1850px) {
    html,
    body {
        font-size: 18px;
    }
}

/* Buttons start to overlap with me again. */
@media only screen and (max-width: 1600px) {
    html,
    body {
        font-size: 14px;
    }
}

/* Text starts to overlap with me again. */
@media only screen and (max-width: 1150px) {
    html,
    body {
        font-size: 12px;
    }
}

/* Background becomes to small. */
@media only screen and (max-width: 1060px) {
    html,
    body {
        font-size: 10px;

        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/mountain-top-narrow.jpg);
        background-size: cover;
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    align-content: left;
    position: absolute;
    left: 242px;
    top: 300px;
}

/* Buttons start to overlap with me again. */
@media only screen and (max-width: 1250px) {
    .content-container {
        left: 121px;
        top: 150px;
    }
}

/* Text starts to overlap with me again. */
@media only screen and (max-width: 950px) {
    .content-container {
        left: 60px;
        top: 100px;
    }
}

/* Background becomes to small. */
@media only screen and (max-width: 1060px) {
    .content-container {
        left: 10%;
        top: 30%;
        width: 80%;
    }
}

h1 {
    font-weight: 600;
    font-size: 500%;
    line-height: 116.18%;

    /* or 116px */

    color: #FFFDFF;

    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

h2 {
    font-size: 300%;
    line-height: 140%;

    color: #4C93FF;

    text-shadow: 0px 0px 20px #000000;
}

.buttons {
    display: flex;
    justify-content: space-between;

    width: 820px;
    height: 52px;

    margin-top: 60px;
}

/* Buttons start to overlap with me. */
@media only screen and (max-width: 1850px) {
    .buttons {
        /* I only want every subsequent row to have a margin */
        margin-top: 40px;
        width: 600px;
        flex-wrap: wrap;
    }
}

/* Buttons start to overlap with me again. */
@media only screen and (max-width: 1600px) {
    .buttons {
        /* I only want every subsequent row to have a margin */
        margin-top: 40px;
        width: 500px;
        flex-wrap: wrap;
    }
}

/* Buttons start to overlap with me again. */
@media only screen and (max-width: 1400px) {
    .buttons {
        /* I only want every subsequent row to have a margin */
        margin-top: 40px;
        width: 400px;
        flex-wrap: wrap;
    }
}

/* Background becomes to small. */
@media only screen and (max-width: 1060px) {
    .buttons {
        /* I only want every subsequent row to have a margin */
        margin-top: 40px;
        width: 100%;
        flex-wrap: wrap;
    }
}

a, button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 193px;
    height: 52px;

    font-weight: 600;
    font-size: 100%;
    line-height: 116.18%;

    text-decoration: none;
    text-align: center;

    /* or 23px */
    text-transform: uppercase;

    color: #FFFDFF;

    border: none;
    background: #26497F;
    opacity: 0.85;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);

    transition: background linear 200ms;
}

/* Buttons start to overlap with me. */
@media only screen and (max-width: 1850px) {
    a, button {
        margin-top: 20px;
    }
}

/* Buttons start to overlap with me again. */
@media only screen and (max-width: 1600px) {
    a, button {
        width: 123px;
    }
}

.context-menu-button {
    margin-top: 0;
}

a:hover, button:hover {
    cursor: pointer;
    text-shadow: 0px 0px 5px #FFF;
    box-shadow: none;
    outline: 1px solid #26497F;
    background: #26497F00;
    color: #26497F;
}

.context-menu {
    width: 52px;
}

.context-menu-menu {
    display: none;
    position: absolute;
}
