.all_container_home {
    background-color: #1b1112;
}

.all_container_qualifications {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-image: url('../img/path.jpg');
    @media #{$mobile_device} {
        background-image: url('../img/path-mobile.jpg');
    }
    @media #{$tablet_device} {
        background-image: url('../img/path-tablet.jpg');
    }
    background-color: #1b1112;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
}

.all_container_media {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-image: url('../img/4th-empty.jpg');
    @media #{$mobile_device} {
        background-image: url('../img/4th-empty-mobile.jpg');
    }
    @media #{$tablet_device} {
        background-image: url('../img/4th-empty-tablet.jpg');
    }
    background-color: #1b1112;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
}

.all_container_adventures {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-image: url('../img/Qs-Realm.jpg');
    @media #{$mobile_device} {
        background-image: url('../img/Qs-Realm-mobile.png');
    }
    @media #{$tablet_device} {
        background-image: url('../img/Qs-Realm.jpg');
    }
    background-color: #1b1112;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;

    .studies_area .single_service {
        background: rgba(250, 234, 200, 0.8);
        border: 2px solid #421b0c;
        border-radius: 0.5em;
        padding: 1em;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        margin-bottom: 30px;
    }
}
