.all_container_home {
    background-image: url('../img/mountain-top.jpg');
    background-color: #1b1112;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
}

.all_container_qualifications {
    background-image: url('../img/path.jpg');
    background-color: #1b1112;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
}
