.mailing_list_section {
}

.mailing_list_content {
    background: rgba(250, 234, 200, 0.8);
    border: 2px solid #421b0c;
    border-radius: 0.5em;
    padding: 1em;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
