.studies_area{
    margin-top: 5em;
    padding-bottom: 0px;
    position: relative;
    .single_service{
        background: #d8e2ec;
        border-radius: 0.5em;
        padding: 1em;
        @include transition(.3s);
        margin-bottom: 30px;
        @media #{$tablet_device}{
            padding: 30px 20px;
        }
        .icon{

        }
        h3{
            font-size: 26px;
            font-weight: 400;
            color: #040E27;
            margin-top: 37px;
            padding-bottom: 10px;
            @media #{$tablet_device} {
                font-size: 22px;
            }
        }
        p{
            margin-bottom: 0;
            br{
                @media #{$tablet_device} {
                    display: none;
                }
                @media #{$mid_device} {
                    display: none;
                }
            }
        }
    }
}
